<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qy">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 调用系统相册所需权限 sd卡访问权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 授予该程序使用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 七牛播放器所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 二维码所需权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 读取联系人所需权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- hardwareAccelerated 开启硬件加速 -->
    <application
        android:name=".whs.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SetPassWordActivity" />
        <activity android:name=".activity.PerfectInformationActivity" />
        <activity android:name=".activity.DetailedPersonalDataActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 从Android 7.0开始，一个应用提供自身文件给其它应用使用时，如果给出一个file://格式的URI的话，应用会抛出FileUriExposedException 以下为了适配7.0+手机拍照 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.IntegralTaskActivity" />
        <activity android:name=".activity.FocusActivity" />
        <activity android:name=".activity.RetrievePasswordActivity" />
        <activity android:name=".activity.IndividualitySignatureActivity" />
        <activity android:name=".activity.NicknameActivity" />
        <activity android:name=".activity.QrCodeActivity" />
        <activity android:name=".activity.MyHomePageActivity" />
        <activity android:name=".activity.IntegralDescriptionActivity" />
        <activity android:name=".activity.IntegralSubsidiaryActivity" />
        <activity android:name=".activity.UpdatePhoneActivity" />
        <activity android:name=".activity.UpdatePhoneVerificationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.OtherHomePageActivity" />
        <activity android:name=".activity.ReceiverAddressActivity" />
        <activity android:name=".activity.AddReceiverAddressActivity" />
        <activity android:name=".activity.ShippingAddressActivity" />
        <activity android:name=".activity.AccountSecurityActivity" />
        <activity android:name=".activity.MusicCollectionActivity" />
        <activity android:name=".activity.MessageSetActivity" />
        <activity android:name=".activity.BlacklistActivity" />
        <activity android:name=".activity.LikeActivity" />
        <activity android:name=".activity.CommentsActivity" />
        <activity android:name=".activity.DirectMessagesActivity" />
        <activity android:name=".activity.FriendsActivity" />
        <activity android:name=".activity.HomeSearchActivity" />
        <activity android:name=".activity.ChooseFriendActivity" />
        <activity android:name=".activity.SpecialOrdersActivity" />
        <activity android:name=".activity.HotelReservationActivity" />
        <activity android:name=".activity.ScenicSpotOrdersActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.RecentVisitActivity" />
        <activity android:name=".activity.MallMessageActivity" />
        <activity android:name=".activity.ScenicSpotDetailsActivity" />
        <activity android:name=".activity.fragment.HotelOrderDetailsActivity" />
        <activity android:name=".activity.SearchHomeActivity" />
        <activity android:name=".activity.SelectAreaActivity" />
        <activity android:name=".activity.ScenicSpotDetails" />
        <activity android:name=".activity.AttractionsDetails" />
        <activity android:name=".activity.OrderToFillInActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.IntegralDrawActivity" />
        <activity android:name=".activity.MemberActivity" />
        <activity android:name=".activity.ClassRulesActivity" />
        <activity android:name=".activity.IntegralMallActivity" />
        <activity android:name=".activity.LandmarkAttractionsVideoDetailsActivity"></activity>
    </application>

</manifest>